/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* CSS Variables */
:root {
    --editor-width: 450px;
    --editor-toolbar-height: 60px;
}

/* Body Styling */
body {
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Code Editor Container */
#code-editor {
    width: var(--editor-width);
    height: 100%;
    border-radius: 15px;
    background-color: whitesmoke;
    overflow: hidden;
}
#code-editor > div{
    width: 100%;
    height: 100%;
}
#code-editor > div > *:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: calc(100% - var(--editor-toolbar-height));
    padding: 30px;
    overflow: hidden;
}

/* Codes */
#code-input, #code-editor > div > div > p {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 22px;
    color: black;
    font-family: "JetBrains Mono", monospace;
    tab-size: 40px;
    resize: none;
}
#code-editor > div > div > p{
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    transition-duration: 0.2s;
}
.highlighted{
    background-color: #dec7d4 !important;
    transform: scale(1.02);
}

/* Run Button Styling */
.code-editor-btn {
    width: 100%;
    height: var(--editor-toolbar-height);
    background-color: #E5007D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    user-select: none;
    transition-duration: 0.2s;
    cursor: pointer;
    font-weight: bold;
    border: 0;
    outline: none;
}

.code-editor-btn:hover {
    background-color: #be096c;
}

.code-editor-btn:active {
    background-color: #8f0953;
}

/* Maze Preview Container */
#maze-preview {
    width: calc(100% - var(--editor-width));
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 15px;
    gap: 30px;
}
#goal{
    font-size: 30px;
    color: black;
}
#points{
    font-size: 22px;
    color: black;
}
